<!DOCTYPE html>
<html>
  <head>
    <title>タスク追加 | Task Manage</title>
  </head>
  <body>  
    <header>
      <p>タスク追加</p>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "タスク一覧", index_path %></li>
      </ul>
    </header>
    <div>
    <h1>タスク追加</h1>
      <%= form_for @task do |f| %>
        <p><%= f.text_field :content %></p>
        <p><%= f.select :status, [["未着手", "未着手"], ["着手", "着手"], ["完了", "完了"]] %></p>
        <p><%= f.submit %></p>
      <% end %>
    </div>
  </body>
</html>