<!DOCTYPE html>
<html>
  <head>
    <title>タスク一覧 | Task Manage</title>
  </head>
  <body>
    <header>
      <% provide(:title, 'タスク詳細') %>      
    </header>
    <div>
      <h1>タスク詳細</h1>
      <p>id：<%= @task.id %></p>
      <p>詳細：<%= @task.content %></p>
      <p>ステータス：<%= @task.status %></p>
      <p>期限：<%= @task.limit_date %></p>
      <p><%= link_to "削除", @task, method: :delete %></p>
    </div>
  </body>
</html>

